<html>
<title>11</title>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="str">ВНЕМЛИ ОРАКУЛУ!</div>
<div class="str">Сформулируй вопрос, вслух или мысленно, и нажми КНОПКУ</div>
<a href="/answer">
	<input type="button" value="узнать">
</a>
<div class=""></div>
<%= yield%>

</body>
</html>
