<html>
<title>cassandra</title>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<script src="/script/jquery-3.2.1.js"></script>
<script src="/script/script.js"></script>
</head>

<body>

<div class="str">ВНЕМЛИ ОРАКУЛУ!</div>
<div class="str">Сформулируй вопрос, вслух или мысленно, и нажми КНОПКУ</div>
<a href="/answer">
	<input type="button" value="узнать">
</a>

<div style="height: 2em;">
  
</div>

<% if yield%>
<div class="success" style="width: 90%; margin: auto;">
  <%= yield%>
</div>
<% end %>

</body>
</html>
