<html>
<title>11</title>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/bootstrap.css">
<script src="/script/jquery-3.2.1.js"></script>
<script src="/script/script.js"></script>
</head>

<body>

<div class="str">ВНЕМЛИ ОРАКУЛУ!</div>
<div class="str">Сформулируй вопрос, вслух или мысленно, и нажми КНОПКУ</div>
<a href="/answer">
	<input type="button" value="узнать">
</a>

<div>
  
</div>

<div class="btn btn-success">
  <%= yield%>
</div>

</body>
</html>
